.input {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid black;
    padding: 10px;
    color: black;
    width: 40%;
    outline: none;
  }

  .input2 {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid black;
    padding: 10px;
    color: black;
    width: 80%;
    outline: none;
  }
  
  
  textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid black;
    padding: 10px;
    color: black;
    width: 86%;
    outline: none;
  }
  
  input:focus
  {
      border-bottom-color: transparent;
     outline: none;
      box-shadow:0px 0px 10px 0px rgb(35, 173, 278); 
  }
  textarea:focus
  {
     outline: none;
      border-bottom-color:  transparent;
      box-shadow:0px 0px 10px 0px rgb(35, 173, 278); 
  }

  .home-subhead{

}



.home-button{
    
    background-color: white; /* Green */
    border: none;
    color: black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

.home-button-2{
    
    background-color: #365C9A; /* Green */
    border: none;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

nav{
    position: fixed;
    z-index: 5;
    top: 0px;
    width: 100%;
}
  
.navItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
.nav-item {
    float: left;
}

body{
    margin: 0;
}
  

.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
}

.nav-brand {
    float: left;
}
  
.nav-brand a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-item a:hover {
    opacity: 0.5;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

[class*="colhome-"] {
    width: 100%;
}

  
@media only screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {
        width: 33.33%;

    }
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {
        width: 66.66%;
        height: 1000px;
        background-color: rgb(177, 102, 102);
    }
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 769px) {
    /* For desktop: */

    .col-6 {
        text-align: center;
    }



}

@media only screen and (min-width: 769px) {
    /* For desktop: */

    .colhome-4 {
        width: 33.33%;
        height: 700px;
        background-color: #4FA15F;
        
    }

    .colhome-8 {
        width: 66.66%;
        height: 700px;
        background-color:  #4E84C2;
    }

}

@media only screen and (max-width: 769px) {
    /* For desktop: */

    .colhome-4 {

        background-color: #4E84C2;
    }

    .colhome-8 {
        height: 850px;
        background-color:  #4E84C2;
    }

}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
[class*="colhome-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
  
html {
    font-family: "Lucida Sans", sans-serif;
}

.btn {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
    
  }

.mySlides:hover{
    transform: scale(1.1);
}

.o-name{
    font-weight:bold;
    margin-top: 5px;
    font-size: 14px;
}

.o-role{
    color:#365C9A;
    margin-top:2px;
    font-size: 12px;

}

.o-grid{
    padding: 3%;
}

table, td, th {
    border-bottom: 1px solid black;
    border-left: 0ch;
    border-right: 0ch;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
      height: 50px;
  }

  td {
    height: 50px;
    vertical-align: middle;
    text-align: center;
  }

  tr:nth-child(even){
    background-color:#F1F1F1;
  }

  tr:hover{
    background-color:#4E84C2;
    color :#F1F1F1;

  }

  tr:first-child:hover{
    background-color:white;
    color:rgba(0, 0, 0, 0.918);
  }


  .s-con{
    width: 100%;
    padding: 5%;
  }

  .s-name{
    font-weight: bold;
    margin-top: 3%;
  }

  .s-brand{
    font-size: 12px;
    margin-top: 1%;
  }

  .s-star{
    color: orange;
    margin-top: 2%;
  }

  .s-con:hover{
    transform: translateY(-8px);
    box-shadow: 5px 5px 5px 5px #F1F1F1;

  }


  .textDisplay{
    border-right: 2px solid rgb(88, 83, 83);
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
  
  }
  
  
  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  

  
  /* Add styles to the form container */
  .container {
    right: 0;
    margin: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: white;
    color: black;
  }
  
  /* Full-width input fields */
   .ia, .ib {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .ia:focus, .ib:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn01 {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn01:hover {
    opacity: 1;
  }
  
  
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(2, 1, 1, 0.705);
    color: white;
    text-align: center;
  }
  
  
  @keyframes slideAnimation{
    0%{
      background-image: url("/../assets/images/slides/slide01.jpeg");
    }30%{
      background-image: url("/../assets/images/slides/slide02.jpg");
    }60%{
      background-image: url("/../assets/images/slides/slide03.jpg");
    }100%{
      background-image: url("/../assets/images/slides/slide04.jpg");
    }
  }
  
  .formClass{
    min-height: 500px;
  }
  
  .sign{
    background-color: cornsilk;
  }
  